@model UserIndexViewModel

<h2>Users</h2>

<br />

@using ( Html.BeginForm( "Index", "User", FormMethod.Get, new { } ) )
{
    <div>
        <div>
            @Html.LabelFor( m => m.Filters.Login )
            @Html.TextBoxFor( m => m.Filters.Login )
        </div>

        <button type="submit">Filtruj</button>
    </div>
}

<br />

<table>
    <thead>
        <tr>
            <th>Login</th>
            <th width="200px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var user in Model.Users )
        {
            <tr>
                <td>@user.Login</td>
                <td>
                    @Html.RouteLink( linkText: "View User Profile",
                                                   routeName: "User",
                                                   routeValues: new { userId = user.Id } )
                </td>
            </tr>
        }
    </tbody>
</table>



