@model RequestIndexViewModel

<div class="page-title">
    <h2 style="color: white;">
        Invitations to join Communities
    </h2>
</div>

<div class="site-content subpage">

    @if ( Model.Requests.Count == 0 )
    {
        <h1>You have no new Invitations</h1>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th><h4>Community Name</h4>
                    <th width="20%"></th>
                    <th width="20%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach ( var invitation in Model.Requests )
                {
                    <tr>
                        <td>@invitation.CommunityName</td>
                        <td>
                            @using ( Html.BeginRouteForm( routeName: "AcceptInvitation",
                                                          routeValues: new { requestId = invitation.Id },
                                                          method: FormMethod.Post ) )
                            {
                                <button class="menu-button button bg-dark radius" type="submit">Accept</button>
                            }
                        </td>
                        <td>
                            @using ( Html.BeginRouteForm( routeName: "DeclineInvitation",
                                                         routeValues: new { requestId = invitation.Id },
                                                         method: FormMethod.Post ) )
                            {
                                <button class="menu-button button bg-dark radius" type="submit">Decline</button>
                            }

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }



</div>