@model ToolIndexViewModel

<div class="site-content subpage">
    <table>
        <thead>
            <tr>
                <th><h4>Your tools:</h4>
                <th width="50%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tool in Model.Tools)

            {
                <tr>
                    <td>@tool.Name</td>
                    <td>
                        @Html.RouteLink( linkText: "View Tool",
                                         routeName: "UserTool",
                                         routeValues: new { toolId = tool.Id } )
                    </td>

                </tr>
            }
        </tbody>
    </table>


@using (Html.BeginRouteForm(routeName: "AddUserTool",
                             method: FormMethod.Get))
{
    <div>
        <button type="submit" class="menu-button button bg-dark radius" style="width:15%">
                New Tool
        </button>
    </div>
}

<hr />
<br />

@using (Html.BeginRouteForm(routeName: "UserTools",
                              method: FormMethod.Get))
{
    <div>
        <div style="max-width:50%;">
            @Html.LabelFor(m => m.Filters.Name)
            @Html.TextBoxFor(m => m.Filters.Name)
        </div>

        <button type="submit" class="menu-button button bg-dark radius" style="width:15%">
                Search
        </button>
    </div>
}
    </div>



