
@{
    ViewBag.Title = "PagedCommunities";
}

<h2>PagedCommunities</h2>

<!--
    Paged Communities bo naraz miała wyświetlać się tylko strona społeczności (20 sztuk),
    ale pewnei też jest tu coś nie tak
-->
