@model ToolIndexViewModel

@using (Html.BeginForm("Create", "UserTool", FormMethod.Get, new { }))
{
    <div>
        <button type="submit">Add Tool</button>
    </div>
}

@using (Html.BeginForm("Index", "UserTool", FormMethod.Get, new { }))
{
    <div>
        <div>
            @Html.LabelFor(m => m.Filters.Name)
            @Html.TextBoxFor(m => m.Filters.Name)
        </div>

        <button type="submit">Search</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th width="100px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tool in Model.Tools)

            {
                <tr>
                    <td>@tool.Name</td>
                    <td>
                        <a href="@Url.Action("View", new { Id = tool.Id })">View</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}



