
@{
    ViewBag.Title = "Menu";
}

@* Wyswietlane z boku razem z przyciskami nawigacyjnymi *@

<div>
    <h2>Menu</h2>
    <div>
        @Html.ActionLink( "Rejestracja", "Register", "Account" )
    </div>

    <div>
        @Html.ActionLink( "Logowanie", "Login", "Account" )
    </div>

    <div>
        @Html.ActionLink( "Zmiana Hasla", "Login", "Account" )
    </div>

    <div>
        @Html.ActionLink( "zakazana strona", "Index", "User" )
    </div>
</div>

