<ul class="list-unstyled ml-0">
    <li>
        <a href="@Url.Action("Index", "User")" class="menu-button button bg-dark radius">
            <label class="text-white h-100 align-items-center d-flex justify-content-center">
                Forbidden user
            </label>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Community")" class="menu-button button bg-dark radius">
            <label class="text-white h-100 align-items-center d-flex justify-content-center">
                Forbidden community
            </label>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Login", "Account")" class="menu-button button bg-dark radius">
            <label class="text-white h-100 align-items-center d-flex justify-content-center">
                Change password
            </label>
        </a>
    </li>
</ul>