
@{
    ViewBag.Title = "UserPanel";
}

@* wyswietlane na gorze z nazwa urzytkownika, likiem do jego profilu itp *@
<div>
    <h2>UserPanel</h2>
    @if ( CurrentUser.Identity.IsAuthenticated )
    {
        <div>
            Witaj @CurrentUser.Name, twoje ID = @CurrentUser.Id
        </div>
        <div>
            @Html.ActionLink( "Wyloguj", "Logout", "Account", new { returnUrl = Request.Url.AbsolutePath }, new { } )
        </div>
    }
    else
    {
        @: Zaloguj sie jak chcysz powitanie
    }

</div>