<div class="page-title">
    <h2 style="color: white;">
        Offert Created Successfully
    </h2>
</div>
<div class="site-content subpage">
    @Html.ActionLink( "Go back to homepage", "Index", "Home" )
</div>