@model ToolIndexViewModel

<h1>Tools belonging to:</h1>
<h2>@ViewData[ "CommunityName" ]</h2>

@using ( Html.BeginRouteForm( routeName: "CommunityTools",
                                 routeValues: new { communityId = ViewData[ "Id" ] },
                                 method: FormMethod.Get ) )
{
    <div>
        <div>
            @Html.LabelFor( m => m.Filters.Name )
            @Html.TextBoxFor( m => m.Filters.Name )
        </div>

        <button type="submit">Search</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th width="100px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var tool in Model.Tools )

            {
                <tr>
                    <td>@tool.Name</td>
                    <td>

                        <!--Todo:  viewing tool and reservation-->
                    </td>

                </tr>
            }
        </tbody>
    </table>
}