@model ToolIndexViewModel
<div class="page-title" style="margin-top:7%;">
    <h2 style="color: white;">
        Tools belonging to:
    </h2>
    <h3 style="color:white;">
        @ViewData["CommunityName"]
    </h3>
</div>

<div class="site-content subpage">

    @using (Html.BeginRouteForm(routeName: "CommunityTools",
                                     routeValues: new { communityId = ViewData["Id"] },
                                     method: FormMethod.Get))
    {
        <div>
            <div>
                @Html.LabelFor(m => m.Filters.Name)
                @Html.TextBoxFor(m => m.Filters.Name)
            </div>

            <button type="submit">Search</button>
        </div>
    }

    <br />

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th width="100px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tool in Model.Tools)

            {
                <tr>
                    <td>@tool.Name</td>
                    <td>

                        <!--Todo:  viewing tool and reservation-->
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </div>
