<div class="page-title">
    <h2 style="color: white;">
        About Us:
    </h2>
</div>
<div class="site-content subpage" style="display: flex;">
    <div style="width: 50%;">
        <h3 style="color: sienna; text-align: center;">
            P2P EQUIPMENT RENTAL
        </h3>
        <p style="text-align: justify;">
            We created the TradeHub to support the growing community of sharing economy subscribers.
            People like you who want to share their goods with each other rather than purchasing more
            goods for a limited purpose. That’s what P2P equipment rental is all about.
        </p>
        <br style="height: 50px;" />
        <h3 style="color: sienna; text-align: center;">
            ENVIRONMENTAL IMPACT
        </h3>
        <p style="text-align: justify;">
            Our vision is to support the limitation of conspicuous consumption, reducing our environmental
            impact and goods production. It epitomises the sharing economy’s philosophy of you scratch my back,
            and I’ll scratch yours. TradeHub enables tool owners to share equipment that,
            since purchase, may now be lying idle, and enables DIYers, gardeners, landscapers and tradespeople
            to undertake their projects without having to outlay capital investment on tools they may only need
            for a specific purpose or limited time. But more than that, a community-driven marketplace allows you
            to make mutually-beneficial connections with people in your neighbourhood.
        </p>
        <br style="height: 50px;" />
        <h3 style="color: sienna; text-align: center;">
            HOW DOES IT WORK
        </h3>
        <p style="text-align: justify;">
            Good question...
        </p>
    </div>
</div>

