<div class="site-content subpage" style="display: flex;">
    <div style="width: 50%;">
        <h3 style="color: sienna; text-align: center;">
            CONTACT US:
        </h3>
        <p style="text-align: center;">
            Got suggestions? Got concerns? Got good news? Or got an axe to grind?<br />
            Whatever you’d like to talk to us about – as long as it’s concerning 
            cheap rental on DIY and gardening tools! – we’d love to hear from you. 
            After all, sharing is what the peer-to-peer economy is all about.<br />
            Contact us via the email and we’ll try and hit your query’s nail on the head.
        </p>
        <h5 style="text-align: center;">
            MATESKR692@STUDENT.POLSL.PL
        </h5>
    </div>
</div>

