<div class="scrollable" style="
    background: black url('../images/banner.jpg');
    background-size:cover;
    background-position: center;
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center">
    <div style="text-align: center;">
    <h1 style="font-size: 500%;color: white;">
        Welcome on Tradehub!
    </h1>
    <h2 style="color:white;">Become part of the sharing community</h2></div>
</div>
