<div class="container" style="background-image: url('../images/banner.jpg'); background-size:cover; position: absolute; bottom: 0px; top: 0px; right: 0px; left: 0px; background-repeat: no-repeat; background-position: center center;">
</div>
