<div style="
    background: black url('../images/banner.jpg');
    background-size:cover;
    background-position: center;
    height: 75%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center">
    <div style="text-align: center;">
    <h1 style="font-size: 500%;color: white;">
        Welcome on Tradehub!
    </h1>
    <h2 style="color:white;">Become part of the sharing community</h2></div>
</div>
<div style="
    background-color: beige;
    width: 100%;
    position: absolute;
    display: flex;
    top: 75%;
    height: 25%;
    align-items: center;
    justify-content: center">
        <h5 style="text-align: center;">
            Tradehub is a new way of renting and sharing tools. <br/> Connect with local tool owners to rent their tools and give your unused equpment a new purpose!
        </h5>
</div>

