@model CommunityIndexViewModel

@{
    ViewBag.Title = "ViewMyCommunities";
}

@using ( Html.BeginForm( "Index", "UserCommunities", FormMethod.Get, new { } ) )
{
    <h2>Your communities</h2>

    <table>
        <thead>
            <tr>
                <th width="100px">Name</th>
                <th width="100px">Location</th>
                <th width="500px">Description</th>
                <th width="100px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var community in Model.Communities )
            {
                <tr>
                    <td>@community.Name</td>
                    <td>@community.Location</td>
                    <td>@community.Description</td>
                    <td>
                        <a href="@Url.Action("View", "Community",new { Id = community.Id })">Show community</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}